librosa==0.7.0
numpy==1.19.3
opencv-contrib-python>=4.5.5.64
opencv-python==4.5.5.64
torch==1.11.0
torchvision==0.12.0
tqdm==4.45.0
numba==0.55.1
streamlit==0.79.0
protobuf==3.19.0
opencv-python-headless==4.5.5.62
networkx==2.8.2
